@import "~stylesheets/variables";

.root {
  margin-bottom: 24px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 0;

  .cell {
    font-weight: $text-font-weight-thin;
    font-size: $text-font-size-sm;
    color: $color-text-muted;
  }
}

.row {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid $color-border;
  border-radius: 4px;
  padding: 16px 0;
  margin-bottom: 16px;

  &:hover {
    box-shadow: rgba(238, 238, 255, 0.5) 0 2px 14px 8px;
    border-color: $color-blue;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.cell {
  display: flex;
  align-items: center;
  margin: 0 16px;
  text-align: left;
}
