@import "~stylesheets/variables";

.root {
  padding: 8px;
  width: fit-content;
  border-radius: 4px;
  font-weight: $text-font-weight-bold;
  font-size: $text-font-size-sm;
  text-transform: lowercase;

  &.grey {
    background: $color-grey;
    color: $color-text-muted;
  }

  &.red {
    background: $color-red-light;
    color: $color-white;
  }

  &.green {
    background: $color-green-light;
    color: $color-white;
  }
}
