@import "~stylesheets/variables";

.root {
  padding-top: 64px;
  margin-bottom: 64px;
}

.navbar {
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 10000;
  background: $color-blue-dark;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);

  .container {
    @include make-container;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .navbar-brand {
    height: 32px;
    padding: 16px 0;
    margin-right: 24px;
  }

  .navbar-links {
    display: flex;
    align-items: center;
  }

  .navbar-links-right {
    margin-left: auto;
  }

  .navbar-link {
    cursor: pointer;
    outline: none;
    font-size: $text-font-size-lg;
    font-weight: $text-font-weight-semi-bold;
    color: $color-white;
    text-decoration: none;
    margin-right: 24px;

    &:last-child {
      margin-right: 0;
    }
  }
}
