@import "~stylesheets/variables";

.root {
  display: flex;
  align-items: center;
  min-height: 41px;
  background: $color-grey-light;
  border-bottom: 1px solid $color-grey;
  padding: 24px 0;
  margin-bottom: 32px;
}

.wrapper {
  @include make-container;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.pre-title {
  color: $color-grey-dark;
  font-weight: $text-font-weight-semi-bold;
  font-size: $text-font-size-xs;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.title {
  font-size: $text-font-size-xl;
  font-weight: $text-font-weight-bold;
}

.root.centered {
  .wrapper {
    display: block;
    text-align: center;
  }
}
