@import "~stylesheets/variables";

.root {
  width: 100%;
  border: 2px solid $color-grey;
  border-radius: 4px;
  margin-top: 24px;
  padding: 14px;
  font-size: $text-font-size-lg;
  background: $color-grey-light;
  box-sizing: border-box;

  &:focus {
    outline: none;
  }
}

.error {
  margin-top: 6px;
  color: $color-red;
}
