@import "~stylesheets/variables";

.root {
  margin-bottom: 24px;
  box-shadow: inset 0 -1px 0 $color-grey;
}

.wrapper {
  @include make-container;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.link {
  display: block;
  text-decoration: none;
  color: $color-text-muted;
  margin-right: 24px;
  padding: 20px 0;

  &:last-child {
    margin-right: 0;
  }

  &:focus {
    outline: none;
  }
}

.link-active {
  color: $color-blue;
  padding-bottom: 19px;
  border-bottom: 1px solid $color-blue;
}
