@import "~stylesheets/variables";

.empty-state {
  background: $color-grey-light;
  text-align: center;
  padding: 32px 0;
  font-size: $text-font-size-lg;
  font-weight: $text-font-weight-bold;
  margin-bottom: 24px;
}

.env-var-line {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid $color-border;
  margin-bottom: 24px;

  &:last-child {
    border-bottom: none;
  }

  .env-var-input {
    flex: 3;
    margin-right: 16px;
  }

  .env-var-button {
    width: 72px;
  }
}

.env-var-delete-button {
  color: $color-red;
}
