@import "~stylesheets/variables";

.root {
  display: flex;
  flex-wrap: wrap;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid $color-grey;
  margin-bottom: 2rem;

  &:last-child {
    border-bottom: none;
    margin-bottom: 0;
  }
}

.left-pane {
  width: 25%;
}

.right-pane {
  margin-left: 10%;
  width: 65%;
}

.title {
  color: $color-blue-dark;
  font-weight: $text-font-weight-bold;
  font-size: $text-font-size-lg;
  margin-bottom: 8px;
}

.description {
  color: $color-text-muted;
  line-height: 1.25;
}
