@import "~stylesheets/variables";

.btn {
  margin-top: 24px;
  display: block;
  width: 100%;
  border: none;
  border-radius: 4px;
  font-size: $text-font-size-lg;
  font-weight: 500;
  padding: 14px 0;
  cursor: pointer;

  &.btn-success {
    color: $color-white;
    background: $color-green-light;

    &:hover {
      background: $color-green;
    }
  }
}
