@import "~stylesheets/variables";

.btn {
  display: block;
  border: none;
  border-radius: 4px;
  font-size: $text-font-size-lg;
  font-weight: 500;
  cursor: pointer;
  padding: 10px 20px;
  width: auto;
  text-decoration: none;

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &.btn-large {
    padding: 14px 28px;
  }

  &.btn-block {
    width: 100%;
  }

  &.btn-primary {
    color: $color-white;
    background: $color-blue;

    &:hover {
      background: $color-blue-dark;
    }
  }

  &.btn-success {
    color: $color-white;
    background: $color-green-light;

    &:hover {
      background: $color-green;
    }
  }
}
