@import url('https://fonts.googleapis.com/css?family=Material+Icons|Lato:300,400,500,600&display=swap');
@import '~normalize.css';
@import './variables.scss';

body {
  font-family: 'Lato', Arial, Helvetica, sans-serif;
}

*, ::after, ::before {
  box-sizing: border-box;
}
