$color-blue-light: #0065FF;
$color-blue: #0052CC;
$color-blue-dark: #05367F;
$color-green-light: #56DD7F;
$color-green: #04AA51;
$color-green-dark: #007925;
$color-red-light: #FF7B72;
$color-red: #F24646;
$color-red-dark: #B8001E;
$color-grey-light: #F9FBFD;
$color-grey: #E3EBF6;
$color-grey-dark: #95AAC9;
$color-white: #FFF;

$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

@mixin primary-title {
  font-size: 2rem;
  font-weight: 300;
}
