@import "~stylesheets/variables";

.root {
  margin-bottom: 24px;

  label {
    display: block;
    font-weight: $text-font-weight-bold;
    margin-bottom: 8px;
  }

  input {
    width: 100%;
    border: 1px solid $color-border;
    border-radius: 4px;
    padding: 10px 12px;
    font-size: $text-font-size-md;
    box-sizing: border-box;

    &:focus {
      border-color: $color-blue;
    }

    &:disabled {
      cursor: not-allowed;
      background: $color-grey-light;
      color: $color-text-muted;
    }
  }

  &:focus {
    outline: none;
  }
}

.error {
  margin-top: 6px;
  color: $color-red;
}
