@import "~stylesheets/variables";

.root {
  width: 100%;
  border: 2px solid $color-grey;
  border-radius: 4px;
  margin-top: 24px;
  padding: 14px;
  font-size: 18px;
  background: $color-grey-light;
  box-sizing: border-box;

  &:focus {
    outline: none;
  }
}
