@import "reset";
@import "variables";

body {
  font-family: $text-font-family;
  font-size: $text-font-size-md;
  font-weight: $text-font-weight-regular;
}

.container {
  @include make-container;
}
