@import "reset";
@import "variables";

body {
  font-family: $text-font-family;
  font-size: $text-font-size-md;
  font-weight: $text-font-weight-regular;
}

.login-page {
  background: $color-blue url(../images/login-background.svg) center;
}

.btn {
  margin-top: 24px;
  display: block;
  width: 100%;
  border: none;
  border-radius: 4px;
  font-size: 1.125rem;
  font-weight: 500;
  padding: 14px 0;
  cursor: pointer;

  &.btn-success {
    color: $color-white;
    background: $color-green-light;

    &:hover {
      background: $color-green;
    }
  }
}
