$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

$text-line-height-heading: 1.15;
$text-line-height-body: 1.4;

$text-font-family: 'Lato', Arial, Helvetica, sans-serif;

$text-font-size-xs: 11px;
$text-font-size-sm: 12px;
$text-font-size-md: 14px;
$text-font-size-lg: 16px;
$text-font-size-xl: 18px;

$text-font-weight-thin: 300;
$text-font-weight-regular: 400;
$text-font-weight-semi-bold: 500;
$text-font-weight-bold: 600;

$color-white: #FFF;

$color-grey-light: #F9FBFD;
$color-grey: #E3EBF6;
$color-grey-dark: #95AAC9;

$color-red-light: #FF7B72;
$color-red: #F24646;
$color-red-dark: #B8001E;

$color-green-light: #56DD7F;
$color-green: #04AA51;
$color-green-dark: #007925;

$color-blue-light: #0065FF;
$color-blue: #0052CC;
$color-blue-dark: #05367F;

$color-text-normal: #212529;
$color-text-muted: #6C757D;
