name: App
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 12.x
      - name: yarn install, lint, and test
        working-directory: ./app
        run: |
          yarn ci
          yarn lint
          yarn test
        env:
          CI: true
